<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>

dasdsadsa
<!-- <canvas id="c"></canvas> -->

<div class="container">

  <div class="row">
    <div class="col-md-4 musicControls">
      Loops
      <form>
        <button id="button-loop-1" type="button" class="dial" value="10">Loop 1</button>
        <button id="button-loop-2" type="button" class="dial" value="10">Loop 2</button>
        <button id="button-loop-3" type="button" class="dial" value="10">Loop 3</button>
      </form>
    </div>


    <div class="col-md-4 musicControls">
      Volume Controls
      <form>
        <button id="button-control-1" type="button" value="4">control 1</button>
        <button id="button-control-2" type="button" value="5">control 2</button>
        <button id="button-control-3" type="button" value="6">control 3</button>
      </form>
    </div>

    <div class="col-md-4 musicControls">
      Effects
      <form>
        <button id="button-loop-4" type="button" class="dial" value="10">Loop 4</button>
        <button id="button-loop-5" type="button" class="dial" value="10">Loop 5</button>
        <button id="button-loop-6" type="button" class="dial" value="10">Loop 6</button>
      </form>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 mainTitle">
      Twitter
      <img src="img/twitterimg.png" alt="HTML5 Icon">
    </div>

    <div class="col-md-6 mainTitle">
      Youtube page
    </div>

  </div>

</div>
