
/*music css*/
audio {
  display:block;
  width:500px;
  background-color: #95B9C7;
}

/*audio controller id*/
elem {
  width: 200px;
}

body {
background-color: #ffffff;
font-family: 'Merriweather', serif;
padding-top: 20px;
padding-bottom: 20px;
}

.musicControls{
    text-align: center;
}

  .beatControls{
    font-size:16px;
  }

.main_header{
  font-size: 90px;
  color:white;
}

.youtube_img{
  background-color: #e32b21;
  border: 1px solid black;
  height: 200px;
  background-image: url(../img/youtube_img2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  margin-left: auto;
    margin-right: auto;
}

.twitter_img{
  background-color: #57aced;
    border: 1px solid black;
  height: 200px;
  background-image: url(../img/twitter_img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  align-content: center;
  margin-left: auto;
    margin-right: auto;
}

.clock{
  text-align: center;
    /*border: 2px solid black;*/
}

#seconds{
  font-size: 14px;
}

#c{
background-color: #ffffff;
  width:100%;
  height: 450px;
}

/*.top_panel{*/
    /*background-image: url(../img/fast_food.jpg);*/
    /*background-color: #3598db;
    height:150px;*/
    /*background-size: contain;
    padding: 10px;*/
    /*margin-bottom: 50px;
    font: white;
    font-size: 24px;
}*/

.footer-tag{
    color:white;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
    background-color: #3598db;
  border-top: 1px solid #e5e5e5;
  height:200px;
}

.cassette {
    background-image: url(../img/yellow_casset.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.username_font{
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttoncolor{
  border: 1px solid;
}

.main-section{
  font-size: 16px;
  color: white !important;
}

#JSONG{
  font-size: 48px;
  color: white !important;
}

.top_navbar{
    background-color: #3598db;
    color: white !important;
    padding-bottom:10px;
    margin-bottom: 6px;
    margin-top: 0px;
}


#button-loop-7 {
  background-image: url(../img/michaeljackson.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
  /*outline:none;*/
}

#button-loop-8 {
  background-image: url(../img/beatles.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-9 {
  background-image: url(../img/basement_jaxx.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-10 {
  background-image: url(../img/bee_gees.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-11 {
  background-image: url(../img/bic_runga.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-12 {
  background-image: url(../img/birdy.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-13 {
  background-image: url(../img/lana_del_rey.png);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-14 {
  background-image: url(../img/dillon.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}

#button-loop-15 {
  background-image: url(../img/make_the_girl_dance.jpg);
  /*background-repeat: no-repeat;
  background-position: 50% 50%;*/
  /* put the height and width of your image here */
  height: 120px;
  width: 120px;
  background-size: contain;
  border: none;
}
